{% extends "base.html" %}

{% block title %}
<title>收藏夹</title>
{% endblock %}

{% block body %}
<div class="container theme-1 fav-flex-box">
    <header class="fav-header">
        <form class="form-inline">
            <input type="text" class="form-control custom-search-input" name="search" placeholder="输入关键词">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            
            <button type="button" class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </form>
    </header>
    
    <div class="fav-body">
        {% if lists.length != 0 %}
            <ul class="fav-lists">
                {% for item in lists %}
                <li>
                    <div class="list-number">
                        {% if currentPage %}
                            {{ limit * (currentPage - 1) + loop.index }}
                        {% else %}
                            {{ loop.index }}
                        {% endif %}
                    </div>
                    <div class="fav-info" onclick="window.open('{{ item.link }}')">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.intro }}</p>
                    </div>
                    <span class="glyphicon glyphicon-pencil edit" item-title="{{item.title}}" item-link="{{item.link}}" item-id="{{item.id}}" item-intro="{{item.intro}}" data-toggle="modal" data-target="#editDialog"></span>
                    <span class="glyphicon glyphicon-trash delete" item-id="{{item.id}}"></span>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-result">没有数据！</p>
        {% endif %}
        <!--分页-->
        <nav aria-label="Page navigation" style="text-align: center;">
            {% if totalPage > 1 %}
                <ul class="pagination">
                    <li {% if currentPage == 1 %}class="disabled"{% endif %}>
                        {% if currentPage == 1 %}
                            <span>
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                        {% else %}
                            <a href="/favorite.html?page={{currentPage - 1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                    {% for page in pages %}
                        <li {% if currentPage == page %}class="active"{% endif %}>
                            <a href="/favorite.html?page={{page}}">{{page}}</a>
                        </li>
                    {% endfor %}
                    <li {% if currentPage == totalPage %}class="disabled"{% endif %}>
                        {% if currentPage == totalPage %}
                            <span><span aria-hidden="true">&raquo;</span></span>
                        {% else %}
                            <a href="/favorite.html?page={{currentPage + 1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加搜藏</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formData">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" placeholder="输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">链接</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control" name="link" placeholder="输入链接">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="intro" placeholder="输入描述"></textarea>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="submitData">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--修改-->
<div class="modal fade" id="editDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑收藏</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editFormData">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" placeholder="输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">链接</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control" name="link" placeholder="输入链接">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="intro" placeholder="输入描述"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="" />
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="submitEdit">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block selfjs %}
<script>
    $('#myModal').modal({show: false});
    $("#editDialog").modal({show: false});
    
    $(function () {
        $("#submitData").on('click', function() {
            var data = $("#formData").serializeArray();
            $.post('/api/favorite/add', data, function (res) {
                console.log(res)
                if (res.status === 1) {
                    $('#myModal').modal('hide');
                    window.location.reload();
                } else if (res.status === 2) {
                    layer.open({
                        style: 'max-width: 300px',
                        content: res.info,
                        time: 2.5,
                        end: function () {
                            location.href = "/login.html";
                        }
                    });
                } else {
                    layer.open({
                        style: 'max-width: 300px',
                        content: res.info,
                        time: 2.5,
                    });
                }
               
            }, 'json');
        });
        
        $(".delete").on('click', function (e) {
            e.stopPropagation();
            var $this = $(this);
            layer.open({
                style: 'max-width: 300px',
                content: '确定要删除吗？',
                btn: ['确定','取消'],
                no: function () { layer.closeAll() },
                yes: function () {
                    $.post('/api/favorite/delete',{id: $this.attr('item-id')}, function (res) {
                        layer.open({
                            style: 'max-width: 300px',
                            content: res.info,
                            time: 2.5,
                        });
                        if (res.status ===  1) {
                            location.reload();
                        } else if (res.status === 2) {
                            layer.open({
                                style: 'max-width: 300px',
                                content: res.info,
                                time: 2.5,
                                end: function () {
                                    location.href = "/login.html";
                                }
                            });
                        }
                    }, 'json');
                }
            });
            
        });
        
        $('#editDialog').on('show.bs.modal', function (e) {
            var title = $(e.relatedTarget).attr('item-title'),
                link = $(e.relatedTarget).attr('item-link'),
                intro = $(e.relatedTarget).attr('item-intro');
                id = $(e.relatedTarget).attr('item-id');
            
            $(this).find('[name=title]').val(title);
            $(this).find('[name=link]').val(link);
            $(this).find('[name=intro]').val(intro);
            $(this).find('[name=id]').val(id);
        });
        
        $("#submitEdit").on('click', function (e) {
            e.stopPropagation();
            var editFormData = $("#editFormData").serializeArray();
            $.post('/api/favorite/edit',editFormData, function (res) {
                layer.open({
                    style: 'max-width: 300px',
                    content: res.info,
                    time: 2.5,
                });
                if (res.status ===  1) {
                    location.reload();
                } else if (res.status === 2) {
                    layer.open({
                        style: 'max-width: 300px',
                        content: res.info,
                        time: 2.5,
                        end: function () {
                            location.href = "/login.html";
                        }
                    });
                }
            }, 'json');
        });
    });
</script>
{% endblock %}