{% extends "base.html" %}

{% block body %}
    <div class="container theme-1">
        <div class="f-main-center">
            <div class="items">
                <div class="item" onclick="location.href='/favorite.html'">
                    <span class="glyphicon glyphicon-star"></span>
                    收藏夹
                </div>
                <!--<div class="item" onclick="location.href='/account.html'">
                    <span class="glyphicon glyphicon-th-large" style="margin-left: 3px;"></span>
                    账号管理
                </div>-->
            </div>
        </div>
    </div>
{% endblock %}

{% block selfjs %}
<script>
</script>
{% endblock %}

