/*
 *
 *  
 * */
html {
    font-size: 14px;
}
@media only screen and (max-width: 640px) {
	html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 10px;
    }
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

@media only screen and (max-width: 760px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

/*
 主题类
*/
.theme .f-main-center .item {
    background-color: #009999;
    box-shadow: 0 3px 10px rgba(0,153,153,.5);
}

.theme-1 .f-main-center .item {
    background-color: #33CC99;
    box-shadow: 0 3px 10px rgba(51,204,153,.5);
}

.loading-more {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    
}

.btn-success {
    background-color: #33CC99;
    border-color: #33CC99;
}
.btn-success:focus {
    background-color: #33CC99;
    border-color: #33CC99;
}
.btn-success:hover {
    background-color: #33CC99;
    border-color: #33CC99;
}
.btn-success:active {
    background-color: #33CC99;
    border-color: #33CC99;
}


